$navbar-default-bg: #74B96E; 
// #80798A;

@import "bootstrap-sprockets";
@import "bootstrap";

.center {
    text-align: center;
}
.navbar {
    margin-bottom: 0px;
}
.jumbotron {
    background-image: asset-url('veggies1.jpg');
    background-size: cover;
    background-repeat:no-repeat;
    background-position:center;
    height: 500px;
   
    
}
.jumbotron h1, h2, h3 {
    color: #FBFF05;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: -1px;
    font-weight: bold;
    text-shadow: 3px 4px 5px #000;
    
}
#color {
    color: #FD010C;
}

.jumbotron p .btn {
    // color: #434541;
}


#logo {
    float: left;
    font-size: 1.7em;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: -1px;
    font-weight: bold;
    
}
.navbar-brand {
   
}
#logo:hover {
    color: #fff;
    text-decoration: none;
}

.card-group {
    display: flex;
}
.btn-default {
    color: #108B04;
}
.feature h1 {
  padding-top: 10px;
  padding-bottom: 20px;
  font-weight: bold;
  text-align: center;
  background-color: #108B04;
  color: transparent;
  text-shadow: 0px 2px 3px rgba(255,255,255,0.5);
  -webkit-background-clip: text;
     -moz-background-clip: text;
          background-clip: text;
 -webkit-animation-duration: 2s;
}

// .thumbnail h3 {
//     background-color: #108B04;
//      color: transparent;
//   text-shadow: 0px 2px 3px rgba(255,255,255,0.5);
//   -webkit-background-clip: text;
//      -moz-background-clip: text;
//           background-clip: text;
// }
.thumbnail p {
    color: #fff;
}
.thumbnail img {
    width: 100%;
    
}

footer {
    margin-top: 25px;
    padding-top: 5px;
    border-top: 1px solid #eaeaea;
    color: #777;
}
footer a {
    color: 555;
}
footer a:hover {
    color: #222;
}


.hovereffect {
width:100%;
height:100%;
float:left;
overflow:hidden;
position:relative;
text-align:center;
cursor:default;
}

.hovereffect .overlay {
width:100%;
height:100%;
position:absolute;
overflow:hidden;
top:0;
left:0;
opacity:0;
background-color:rgba(0,0,0,0.5);
-webkit-transition:all .4s ease-in-out;
transition:all .4s ease-in-out
}

.hovereffect img {
display:block;
position:relative;
-webkit-transition:all .4s linear;
transition:all .4s linear;
}

.hovereffect h2 {
text-transform:uppercase;
color:#fff;
text-align:center;
position:relative;
font-size:17px;
background:rgba(0,0,0,0.6);
-webkit-transform:translatey(-100px);
-ms-transform:translatey(-100px);
transform:translatey(-100px);
-webkit-transition:all .2s ease-in-out;
transition:all .2s ease-in-out;
padding:10px;
}

.hovereffect a.info {
text-decoration:none;
display:inline-block;
text-transform:uppercase;
color:#fff;
border:1px solid #fff;
background-color:transparent;
opacity:0;
filter:alpha(opacity=0);
-webkit-transition:all .2s ease-in-out;
transition:all .2s ease-in-out;
margin:50px 0 0;
padding:7px 14px;
}

.hovereffect a.info:hover {
box-shadow:0 0 5px #fff;
}

.hovereffect:hover img {
-ms-transform:scale(1.2);
-webkit-transform:scale(1.2);
transform:scale(1.2);
}

.hovereffect:hover .overlay {
opacity:1;
filter:alpha(opacity=100);
}

.hovereffect:hover h2,.hovereffect:hover a.info {
opacity:1;
filter:alpha(opacity=100);
-ms-transform:translatey(0);
-webkit-transform:translatey(0);
transform:translatey(0);
}

.hovereffect:hover a.info {
-webkit-transition-delay:.2s;
transition-delay:.2s;
}